.icons {
  width: 100%;
  height: 100vh;
  background-color: #a5a4a4;

  &-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
  }
  &-item {
    position: relative;
    list-style: none;
    margin-right: 1vw;
  }
  &-item:last-child {
    margin-right: 0;
  }
  &-item:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.3vmax;
    width: 3vmax;
    height: 0.6vmax;
    background-color: #000;
    border-radius: 50%;
    transition: .5s;
    opacity: 0;
    filter: blur(.14vmax);
    transform: scale(.8);
  }
  &-item:hover:before {
    opacity: .5;
    transform: scale(1);
    transition-delay: .2s;
  }
  &-item a {
    width: 3vmax;
    height: 3vmax;
    display: block;
    transition: .5s;
    background-color: #ccc;
  }
  &-item:hover a {
    transform: translateY(-.8vmax);
  }
  &-item a span {
    width: 100%;
    height: 100%;
  }
  &-item a span:before {
    font-family: fontAwesome;
    text-align: center;
    line-height: 3vmax;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #262626;
    transform-origin: top;
    transition: transform .5s;
  }
  &-item:hover a span:before {
    transform: rotateX(90deg) translateY(-50%);
  }
  &-item a span:after {
    font-family: fontAwesome;
    text-align: center;
    line-height: 3vmax;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #fff;
    transform-origin: bottom;
    transition: transform .5s;
    transform: rotateX(90deg) translateY(50%);
  }
  &-item:hover a span:after {
    transform: rotateX(0) translateY(0);
  }
  &-item:nth-child(1) a span:before,
  &-item:nth-child(1) a span:after {
    content: '\f189';
  }
  &-item:nth-child(2) a span:before,
  &-item:nth-child(2) a span:after {
    content: '\f09a';
  }
  &-item:nth-child(3) a span:before,
  &-item:nth-child(3) a span:after {
    content: '\f16d';
  }
  &-item:nth-child(4) a span:before,
  &-item:nth-child(4) a span:after {
    content: '\f167';
  }
  &-item:nth-child(5) a span:before,
  &-item:nth-child(5) a span:after {
    content: '\f2c6';
  }
  
  &-item:nth-child(1) a span:after {
    background-color: #45668e;
  }
  &-item:nth-child(2) a span:after {
    background-color: #3b5998;
  }
  &-item:nth-child(3) a span:after {
    background-color: #ec5f0d;
  }
  &-item:nth-child(4) a span:after {
    background-color: #bb0000;
  }
  &-item:nth-child(5) a span:after {
    background-color: #55acce;
  }
  
}