//- .accordion
//-   .accordion__container
//-     .accordeon
//-       dl
//-         dt Заголовок
//-         dd
//-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea, accusamus. Numquam non commodi ipsum debitis repudiandae amet vero itaque, deserunt, ad neque libero quae officia. Facilis non, possimus doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
//-       dl
//-         dt Заголовок
//-         dd
//-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
//-       dl
//-         dt Заголовок
//-         dd
//-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
//-       dl
//-         dt Заголовок
//-         dd
//-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
//-       dl
//-         dt Заголовок
//-         dd
//-           | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
//-   script(src='http://code.jquery.com/jquery-3.4.1.js', integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin='anonymous')
.container
  .accordions
    .accordion
      .accordion__slot
        button.accordion__button ACIDIC GLAVENUS
      .accordion__slot
        .accordion__panel
          p.accordion-panel__content
            | A Glavenus subspecies that flings highly corrosive acid around with each swing of its tail.
    .accordion
      .accordion__slot
        button.accordion__button BANBARO
      .accordion__slot
        .accordion__panel
          p.accordion-panel__content
            | This monster gouges out the earth with its two massive horns as it charges at foes.
    .accordion
      .accordion__slot
        button.accordion__button AZURE RATHALOS
      .accordion__slot
        .accordion__panel
          p.accordion-panel__content A Rathalos clad in azure-tinted scales. Favors aerial assaults on its prey.
    .accordion
      .accordion__slot
        button.accordion__button ANJANATH
      .accordion__slot
        .accordion__panel
          p.accordion-panel__content
            | A belligerent monster that will fight anything. Watch out for its dangerous kicks and bites.
    .accordion
      .accordion__slot
        button.accordion__button ANCIENT LESHEN
      .accordion__slot
        .accordion__panel
          p.accordion-panel__content
            | A creature so old and powerful that it is sometimes worshipped as a native deity in the world it hails from.

