.icons
  ul.icons-list
    li.icons-item
      a.icons-link(href='#')
        span
    li.icons-item
      a.icons-link(href='#')
        span
    li.icons-item
      a.icons-link(href='#')
        span
    li.icons-item
      a.icons-link(href='#')
        span
    li.icons-item
      a.icons-link(href='#')
        span