.contact-form
  .formContainer
    .formBx
      form(action="")
        h2 Contact us
        .inputBox
          input(type="text" name="" required="required")
          span Full name
        .inputBox
          input(type="email" name="" required="required")
          span Email adress
        .inputBox
          textarea(required="required")
          span Type your message here
        .inputBox
          input(type="submit" name="" value="send")
    .imgBx
      img(src="../images/contact-form.png", alt="")