.flip
	h1 3d Flip Card Hover Effects
	.flip__container
		.flip-card
			.flip-img
				img(src="../../images/hover-layer.jpg")
			.flip-details
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium eius sunt voluptas atque veniam, quae tempora perferendis dignissimos cumque. Culpa cum expedita in perferendis? Sunt modi obcaecati laudantium magnam, quaerat qui incidunt error illo id deserunt molestiae, dolore nam optio? Sit facere omnis nisi nobis in quidem adipisci rem.
		.flip-card
			.flip-img
				img(src="../../images/hover-layer.jpg")
			.flip-details
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium eius sunt voluptas atque veniam, quae tempora perferendis dignissimos cumque. Culpa cum expedita in perferendis? Sunt modi obcaecati laudantium magnam, quaerat qui incidunt error illo id deserunt molestiae, dolore nam optio? Sit facere omnis nisi nobis in quidem adipisci rem.
		.flip-card
			.flip-img
				img(src="../../images/hover-layer.jpg")
			.flip-details
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium eius sunt voluptas atque veniam, quae tempora perferendis dignissimos cumque. Culpa cum expedita in perferendis? Sunt modi obcaecati laudantium magnam, quaerat qui incidunt error illo id deserunt molestiae, dolore nam optio? Sit facere omnis nisi nobis in quidem adipisci rem.
		.flip-card
			.flip-img
				img(src="../../images/hover-layer.jpg")
			.flip-details
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium eius sunt voluptas atque veniam, quae tempora perferendis dignissimos cumque. Culpa cum expedita in perferendis? Sunt modi obcaecati laudantium magnam, quaerat qui incidunt error illo id deserunt molestiae, dolore nam optio? Sit facere omnis nisi nobis in quidem adipisci rem.
		.flip-card
			.flip-img
				img(src="../../images/hover-layer.jpg")
			.flip-details
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium eius sunt voluptas atque veniam, quae tempora perferendis dignissimos cumque. Culpa cum expedita in perferendis? Sunt modi obcaecati laudantium magnam, quaerat qui incidunt error illo id deserunt molestiae, dolore nam optio? Sit facere omnis nisi nobis in quidem adipisci rem.
		.flip-card
			.flip-img
				img(src="../../images/hover-layer.jpg")
			.flip-details
				h2 Lorem Ipsum
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium eius sunt voluptas atque veniam, quae tempora perferendis dignissimos cumque. Culpa cum expedita in perferendis? Sunt modi obcaecati laudantium magnam, quaerat qui incidunt error illo id deserunt molestiae, dolore nam optio? Sit facere omnis nisi nobis in quidem adipisci rem.
