.moon
  section
    img(src="../images/moon-bg.jpg" id="moon-bg")
    img(src="../images/moon.png" id="moon")
    img(src="../images/moon-mountain.png" id="moon-mountain")
    img(src="../images/moon-road.png" id="moon-road")
    h2#moon-title Moon light