.waves
  .wave
    span(style='--i:1;') L
    span(style='--i:2;') o
    span(style='--i:3;') a
    span(style='--i:4;') d
    span(style='--i:5;') i
    span(style='--i:6;') n
    span(style='--i:7;') g
    span(style='--i:8;') .
    span(style='--i:9;') .
    span(style='--i:10;') .