.cards-wrapper
  .cards-container
    .cards
      .hover.hover-1
        .hover-content
          img(src="../images/сard-hover__startup.png", alt="")
          h3 Startup
      .hover.hover-2
        .hover-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eveniet neque! Earum eos officia fuga libero quas eligendi eum in?
          a(href="#") Read more
    .cards
      .hover.hover-1
        .hover-content
          img(src="../images/сard-hover__data.png", alt="")
          h3 Startup
      .hover.hover-2
        .hover-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eveniet neque! Earum eos officia fuga libero quas eligendi eum in?
          a(href="#") Read more
    .cards
      .hover.hover-1
        .hover-content
          img(src="../images/сard-hover__sketch.png", alt="")
          h3 Startup
      .hover.hover-2
        .hover-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eveniet neque! Earum eos officia fuga libero quas eligendi eum in?
          a(href="#") Read more
